
#summaryCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
}

#summaryCont > div {
    margin: 20px;
}

#summaryCont > p:nth-child(1) {
    width: 600px;
    padding: 8px;
    text-align: center;
    font: 20px arial;
    color: #6d6b6b;
    background-color: #f5f5f5;
}

.headLine {
    margin: 0px;
    font: 40px arial;
    font-weight: lighter;
    text-align: center;
    color: #848484;
}

.headLineNum {
    margin: 0px;
    font: 800 55px arial;
    text-align: center;
    margin-top: 15px;
}

#recovered > h1{
    color: #86c920;
}

#deaths > h1 {
    color: #686868;
}

#coronaCases > h1 {
    color: #a8a8a8;
}

/* Country wise Summary Table */

#countSummary {
    display: flex;
    flex-direction: column;
    align-items: center;
}
table {
    width: 800px;
}
table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 10px;
    font: 800 16px arial;
}

tbody > tr:nth-child(1) {
    background-color: #ececec;
}

tbody > tr:nth-child(1) > td {
    font-weight: normal;
}

th {
    height: 50px;
    text-align: left;
    color: #686868;
}

tbody > tr:hover {
    background-color: #f0f0f0;
}

tbody > tr > td:nth-child(1) {
    text-align: center;
    padding: 0px;
    color: rgb(160, 159, 159);
    font: 13px arial;
}

tbody > tr > td:nth-child(n+3) {
    text-align: right;
}

tbody > tr:nth-child(n+2) > td:nth-child(2) {
    color: #106abe;
    width: 200px;

}
